/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize.css is intended to be used as an alternative to CSS resets.
 *
 * This file is a slight fork of these original sources:
 * - normalize.css v2.1.2 | MIT License | git.io/normalize
 * - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass
 *
 * It's suggested that you read the normalize.scss file and customise it to meet
 * your needs, rather then including the file in your project and overriding the
 * defaults later in your CSS.
 * @see http://nicolasgallagher.com/about-normalize-css/
 *
 * Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 *       @see http://snook.ca/archives/html_and_css/no_css_reset/
 */
/**
 * HTML5 display definitions
 */
/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
[hidden] {
  display: none;
}

/**
 * Base
 *
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;
 *
 * Since we're using Sass, you'll need to declare your font faces here, then you
 * can add them to the font variables in the _init.scss partial.
 */
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.5em;
}

/* Remove default margin. */
body {
  margin: 0;
  padding: 0;
}

/* Component (SMACSS module) rules */
/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */
/**
 * Wireframes.
 */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}

/**
 * Accessibility features.
 */
/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
.element-focusable {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Turns off the element-invisible effect. */
.element-focusable:active, .element-focusable:focus {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;
}
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/**
 * Branding header.
 */
/* Wrapping link for logo. */
.header__logo {
  float: left;
  /* LTR */
  width: 100%;
  text-align: center;
  margin: 24px 0;
  margin: 1.5rem 0;
  padding: 0;
}

@media (min-width: 48em) {
  .header__logo {
    width: auto;
    text-align: left;
    margin: 40px 0;
    margin: 2.5rem 0;
  }
}
/* Logo image. */
.header__logo-image {
  vertical-align: bottom;
  width: 100%;
  max-width: 400px;
  height: auto;
}

/* Wrapper for website name and slogan. */
.header__name-and-slogan {
  float: left;
}

/* The name of the website. */
.header__site-name {
  margin: 0;
  font-size: 2em;
  line-height: 1.5em;
}

/* The link around the name of the website. */
.header__site-link:link, .header__site-link:visited {
  color: #000;
  text-decoration: none;
}
.header__site-link:hover, .header__site-link:focus {
  text-decoration: underline;
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;
  /* LTR */
}

/* For structuring header utilities*/
header#header_ua {
  max-height: 59px;
  min-height: 10px;
}

/**
 * Inline styles.
 */
/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;
}
.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 16px 0 0;
  padding: 0 1rem 0 0;
  /* LTR */
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 16px 0 0;
  padding: 0 1em 0 0;
  /* LTR */
}

/**
 * "More" links.
 */
.more-link {
  text-align: right;
  /* LTR */
}

.more-help-link {
  text-align: right;
  /* LTR */
}

.more-help-link a {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7UlEQVR42qWTPQqDQBCFcwSPkCNITpAj5AjeIm1uYpkyR7Cy2Mot7OwsBAsRwUKwmOwLGRle3EIy8PyBfZ/z3J2TiPylz8VWWZZpUB40BonRKyizaxkA88MYYiqCEgv4MTvnZJom0VqWRbz3FlJZgLYtqmEY1Lg9r+sKsIXcLSC3AC019H0vqLquLeC5AfiHYSGkcdAJimKIBQiJ4+CO92OAtm0FNc8zOjkMwE5Q63FAtbeg6zpAYvG8BWR7i5qmQYwY4MIHqYhE2DOPQWcGJBQF2XU72ZzyUeZ5GCNt5/hybJgYdAXsq5sOEE/jG6dC5IOqCXTmAAAAAElFTkSuQmCC');
  background-position: 0 50%;
  /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px;
  /* LTR */
  padding: 0.06rem 0 0.06rem 1.25rem;
}

/**
 * Pager.
 */
/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis, .pager-current {
  display: inline;
  padding: 0 8px;
  padding: 0 0.5rem;
  list-style-type: none;
  background-image: none;
}

.pager-item,
.pager-first,
.pager-previous,
.pager-next,
.pager-last,
.pager-ellipsis {
  /* A concatenation of several list items using an ellipsis. */
}

/* The current page's list item. */
.pager-current {
  font-weight: bold;
}

/**
 * Marker.
 */
/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */
/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  font-size: 4.7rem;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}

/**
 * Comments.
 */
/* Wrapper for the list of comments and its title. */
.comments {
  margin: 1.5em 0;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {
  /* Comment's permalink wrapper. */
}
.comment .permalink {
  text-transform: uppercase;
  font-size: 75%;
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: 30px;
  /* LTR */
}

/* Buttons used by contrib modules like Media. */
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Checkbox cell fix from https://www.drupal.org/node/2276857 */
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

.webform-grid .radio, .webform-grid .checkbox {
  display: table-cell;
  text-align: center;
  width: 142px;
}

.webform-grid .radio input[type="radio"],
.webform-grid .radio-inline input[type="radio"],
.webform-grid .checkbox input[type="checkbox"],
.webform-grid .checkbox-inline input[type="checkbox"] {
  float: none;
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left;
  /* LTR */
}

/* Drupal UI components */
div.contextual-links-wrapper ul.contextual-links,
#main div.contextual-links-wrapper ul.contextual-links,
footer#footer_site div.contextual-links-wrapper ul.contextual-links {
  display: none;
  /*resets display for contextual links js behavior*/
  float: none;
}
div.contextual-links-wrapper li,
div.contextual-links-wrapper a:not(.contextual-links-trigger),
#main div.contextual-links-wrapper li,
#main div.contextual-links-wrapper a:not(.contextual-links-trigger),
footer#footer_site div.contextual-links-wrapper li,
footer#footer_site div.contextual-links-wrapper a:not(.contextual-links-trigger) {
  border: 0 none;
  float: none;
  display: inherit;
  text-align: left;
}

/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */
/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: 1.5em;
}

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px;
  /* LTR */
  margin-left: -1.25rem;
}

#user-login ul {
  margin: 1.5em 0;
}

/**
 * Drupal admin tables.
 */
form th {
  text-align: left;
  /* LTR */
  padding-right: 16px;
  padding-right: 1rem;
  /* LTR */
  border-bottom: 3px solid #ccc;
}
form tbody {
  border-top: 1px solid #ccc;
}
form table ul {
  margin: 0;
}

tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}

tr.even {
  background-color: #fff;
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Drupal core wrongly puts this in system.menus.css. Since we override that, add it back. */
td.menu-disabled {
  background: #ccc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */
/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
html.js .collapsible .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg==');
  background-position: 5px 65%;
  /* LTR */
  background-repeat: no-repeat;
  padding-left: 16px;
  /* LTR */
  padding-left: 1rem;
}
html.js .collapsed .fieldset-legend {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC');
  /* LTR */
  background-position: 5px 50%;
  /* LTR */
}
.fieldset-legend .summary {
  color: #999;
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: 8px;
  margin-left: 0.5rem;
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

.tabledrag-toggle-weight {
  font-size: 14px;
  font-size: 0.875em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.progress .filled {
  background-color: #0072b9;
  background-image: url('../images/progress.gif');
}

/*Misc. Helper classes*/
/*.pull-left Floats an element to the leftFloatsTry it*/
.pull-left {
  float: left !important;
}

/*.pull-right Floats an element to the rightFloatsTry it*/
.pull-right {
  float: right !important;
}

/*.relative Adds position relative*/
.relative {
  position: relative !important;
}

/*.absolute Adds position absolute*/
.absolute {
  position: absolute !important;
}

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
/* OPTIONAL UA ZEN COMPONENTS - COMMENT OUT WHAT YOU DON'T NEED */
#main_nav {
  /* Mobile menu */
}
#main_nav ul.sf-horizontal {
  /* Hover dropdown menus */
}
#main_nav ul.sf-horizontal li a.active {
  background-color: #eef1f1;
}
#main_nav ul.sf-horizontal li ul li a.active {
  color: #0c234b;
  background-color: #fff;
}
#main_nav ul.sf-horizontal li ul {
  padding: 20px 0 5px;
  background-color: rgba(12, 35, 75, 0.95);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: border-box;
}
#main_nav ul.sf-horizontal li ul li > a {
  display: block;
  padding: 3px 20px;
  line-height: 1.5;
  color: white;
  font-weight: 700;
  letter-spacing: .03rem;
}
#main_nav ul.sf-horizontal li ul li > a:hover, #main_nav ul.sf-horizontal li ul li > a:focus {
  text-decoration: none;
  color: #076873;
  background-color: #DBE8EA;
}
@media (min-width: 768px) {
  #main_nav ul.sf-horizontal li ul:before {
    position: absolute;
    top: 0;
    left: 8.9%;
    width: 0;
    height: 0;
    border-top: 8px solid #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: '';
  }
}
#main_nav ul.sf-horizontal li:hover > ul,
#main_nav ul.sf-horizontal li.sfHover > ul {
  top: 100%;
}
#main_nav ul.sf-menu {
  /* Simulating dropdown indicator used in UA Bootstrap navbar dropdowns */
}
#main_nav ul.sf-menu > li {
  text-transform: uppercase;
}
#main_nav ul.sf-menu > li ul li {
  text-transform: none;
}
#main_nav ul.sf-menu li.menuparent > a.menuparent:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.5em;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
  content: '';
}
#main_nav .sf-accordion-toggle a {
  display: block;
  padding: 13px;
  padding: 0.8125rem;
  color: #fff;
  background: #0c234b;
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
#main_nav .sf-accordion-toggle a:hover, #main_nav .sf-accordion-toggle a:focus {
  text-decoration: none;
}
#main_nav ul.menu.sf-accordion {
  background: #0c234b;
  padding: 10px 0;
  padding: 0.625rem 0;
  border-top: 1px solid #fff;
}
#main_nav ul.menu.sf-accordion li {
  padding: 0;
}
#main_nav ul.menu.sf-accordion li a {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  padding: 13px 0;
  padding: 0.8125rem 0;
}
#main_nav ul.menu.sf-accordion li a:focus, #main_nav ul.menu.sf-accordion li a:hover {
  background: #395180;
  text-decoration: none;
}
#main_nav ul.menu.sf-accordion li a.active {
  background-color: inherit;
}
#main_nav ul.menu.sf-accordion li ul {
  background-image: none;
  padding: 0;
  background: #000136;
}
#main_nav ul.menu.sf-accordion li ul li a {
  font-weight: 500;
}
@media (max-width: 47.9em) {
  #main_nav {
    margin-bottom: 0.625rem;
  }
}

/* Removing mobile duplicate menu link only if it is a no-link (https://www.drupal.org/node/2032759) */
a.nolink + ul .sf-clone-parent {
  display: none;
}

.dl-menuwrapper button {
  background: #002147;
}

.dl-menuwrapper button:hover, .dl-menuwrapper button.dl-active, .dl-menuwrapper ul {
  background: #002147;
}

.dl-menuwrapper {
  max-width: none;
}

.block.mission-statement {
  background: #ecf4f3 url("../images/mission-bg.jpg") repeat-x 0 0;
  text-align: center;
  padding: 64px 0;
  padding: 4rem 0;
  margin: 0;
}
.block.mission-statement h3 {
  color: #0c234b;
  font-size: 28px;
  font-size: 1.8rem;
  font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  text-transform: none;
  line-height: 1.4;
}
.block.mission-statement a:not(.contextual-links-trigger) {
  display: block;
  padding: 16px;
  padding: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #ab0520;
  border-bottom: 2px solid #076873;
  text-transform: uppercase;
  width: 220px;
  margin: 16px auto 0;
  margin: 1rem auto 0;
}

@media (min-width: 48em) {
  .block.mission-statement h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
/*** Views Pager ***/
.item-list ul.pager {
  border-top: 2px solid #eef1f1;
  background: none 0 0 scroll no-repeat transparent;
  text-transform: uppercase;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  list-style: none;
  text-align: inherit;
}
.item-list ul.pager:after {
  display: block;
  content: "\0020";
  clear: both;
}
.item-list ul.pager li {
  background: none 0 0 scroll no-repeat transparent;
  text-transform: uppercase;
  border: 0 none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  color: #555;
  white-space: nowrap;
  margin: 0 0.8em;
  list-style: none;
}
.item-list ul.pager li a,
.item-list ul.pager li a:link,
.item-list ul.pager li a:visited {
  font-size: 14px;
  font-size: 0.9rem;
  font-weight: bold;
  background: none 0 0 scroll no-repeat transparent;
  color: #ab0520;
}
.item-list ul.pager li a:focus,
.item-list ul.pager li a:hover,
.item-list ul.pager li a:active {
  background: none 0 0 scroll no-repeat transparent;
}

/* SIDE MENUS */
@media screen and (min-width: 60em) {
  .sidebar ul.menu {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }
  .sidebar ul.menu li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    display: block;
  }
  .sidebar ul.menu li > a,
  .sidebar ul.menu li > a:link,
  .sidebar ul.menu li > a:visited {
    position: relative;
    padding: 10px 16px;
    padding: 0.625rem 1rem;
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: #333;
  }

  .region-sidebar-first .menu > li > a:hover,
  .region-sidebar-first .menu > li > a:focus,
  .region-sidebar-first .menu > li.active a,
  .region-sidebar-first .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-left.png") no-repeat scroll 100% center/30px 100% #dee8e7;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    color: #076873;
    text-decoration: none;
  }

  .region-sidebar-second .menu > li > a:hover,
  .region-sidebar-second .menu > li > a:focus,
  .region-sidebar-second .menu > li.active a,
  .region-sidebar-second .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-right.png") no-repeat scroll 0 center/30px 100% #dee8e7;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    color: #076873;
    text-decoration: none;
  }
}
/* start search */
a.search-input-link {
  display: none;
  width: 2.2em;
  height: 2.2em;
  background-size: 1.1em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMxIDMyIj48cGF0aCBkPSJNMjQuNzUgMjJjLS43OTIgMi4wMjEtMi40NzUgMi45NjctNC40MzQgMy41NzlsNi4yOTIgNi4yOTEgMy45MjEtMy45MjEtNS43NzktNS45NXptMS4xOTctOS4wMjdDMjUuOTQ3IDUuODc0IDIwLjA3MiAwIDEyLjk3NCAwUy4wMDEgNS44NzUuMDAxIDEyLjk3M3M1Ljg3NSAxMi45NzMgMTIuOTczIDEyLjk3M2M3LjA5OSAwIDEyLjk3My01Ljg3NSAxMi45NzMtMTIuOTczem0tMTIuOTc0IDcuMzQ0Yy00LjAzOSAwLTcuMzQzLTMuMzA1LTcuMzQzLTcuMzQzczMuMzA1LTcuMzQzIDcuMzQzLTcuMzQzIDcuMzQzIDMuMzA1IDcuMzQzIDcuMzQzYzAgNC4wMzktMy4zMDUgNy4zNDMtNy4zNDMgNy4zNDN6IiBmaWxsPSIjOEIwMDE1Ii8+PC9zdmc+");
  background-position-x: 0.5em;
  background-position-y: 0.5em;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 0.65em 0;
  border: 2px solid #cbd1e0;
}

a.search-input-link:hover {
  opacity: .7;
}

/* Prevents search bar and search btn from floating around. */
.region-header-2 .block-search,
.region-header .block-search {
  clear: both;
  position: relative;
}

/* ua-bootstrap overrides for search form */
.btn-search {
  width: 2.3em;
  height: 2.3em;
  background-size: 1em 1em;
  background-position: right 0.6em top 0.6em;
}

.region-header-ua-utilities .search-form {
  position: relative;
  height: 38px;
  margin: 0.72em 0;
}

.search-form {
  height: initial;
}

.bg-cochineal-red .form-control,
.bg-red .form-control,
.bg-red a.search-input-link {
  border-color: #ef4056;
}

.bg-cochineal-red a.search-input-link,
.bg-red a.search-input-link {
  background-image: url('../images/search-white-web.svg');
}

#block-search-form {
  width: 272px;
  width: 17rem;
  float: none;
  position: relative;
  margin: auto auto 1.5em auto;
}

fieldset.collapsed {
  margin-bottom: 30px;
}

#content .form-item .webform-container-inline .form-control {
  display: initial;
  width: initial;
  max-width: 100%;
}

@media (min-width: 768px) {
  #block-search-form {
    float: right;
    margin-top: 16px;
    margin-top: 1rem;
  }

  #content .form-item .form-select,
  #content .form-item .form-email,
  #content .form-item .form-file,
  #content .form-item .form-number,
  #content .form-item .form-text {
    width: initial;
    max-width: 100%;
  }
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: 24px !important;
  margin-bottom: 1.5rem !important;
}

.container-collapsed .column {
  min-height: initial;
}

/* override for above if sidebars are present */
.one-sidebar .container-collapsed .column,
.two-sidebars .container-collapsed .column {
  min-height: 1px;
}

/* Webform progress bar overrides. */
.has-local-menu-tasks .progress-wrapper {
  margin-top: 2em;
}

.webform-progressbar-page {
  position: absolute;
  width: 2em;
  height: 2em;
  border: 2px solid #e2e9eb;
  background-color: #e2e9eb;
  border-radius: 2em;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  margin: -0.7em 0 0 -1em;
}

.webform-progressbar-page:first-child {
  margin-left: 0px;
}

.webform-progressbar-page:last-child {
  margin-left: -27px;
}

.progress-wrapper {
  position: relative;
}

.progress-wrapper .webform-progress {
  margin: 0 16px;
  height: 0.6em;
}

.webform-progressbar-page .webform-progressbar-page-label {
  position: relative;
  color: #49595e;
  top: 0px;
  margin: 0 -10em;
}

.webform-progressbar-page.current {
  background-color: white;
  border-color: #70b865;
}

.webform-progressbar-page.completed {
  background-color: #70b865;
  border-color: #70b865;
}

.webform-progressbar-page.current .webform-progressbar-page-label {
  color: #70b865;
}

.webform-progressbar-page.current .webform-progressbar-page-number {
  color: #70b865;
}

.webform-progressbar-page.current:last-child {
  background-color: #70b865;
}

.webform-progressbar-page.current:last-child .webform-progressbar-page-number {
  color: white;
}

.webform-progressbar-page.completed .webform-progressbar-page-label {
  color: #70b865;
}

.webform-progressbar-page.completed .webform-progressbar-page-number {
  color: white;
}

.webform-progressbar-page .webform-progressbar-page-number {
  display: block;
  color: #49595e;
  padding: 0 0.6em;
  line-height: 1.8em;
}

.webform-progressbar-number {
  font-weight: bold;
  color: #49595e;
}
